main {


    height: 1500px;
    
  
}

main .content {

    padding-block: 60px;
}

.flex-card {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.card {

    margin-block: 30px;
    background-color: #a0a0a0;
    min-height: 600px;
    width: 400px;

    border-radius: 25px;


    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);




}

.card img {

    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;



}

.cont {
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 4px;

}

.title {

    font-weight: 700;
    font-size: 30px;
}

.desc {

    text-align: justify;
    line-height: 1.8;
}